<toolbar class="md-whiteframe-z1" data="toolbarOptions"></toolbar>

<div layout-gt-md="row" ng-init="init()">
	<div flex-gt-md="50">
		<md-card layout-padding layout="column">
			<div layout-align="space-between center" layout="row">
				<h4>Definitions List</h4>

				<span flex></span>

				<md-button class="md-icon-button" aria-label="Refresh Definition List" ng-click="init()">
					<ng-md-icon icon="sync"></ng-md-icon>
					<md-tooltip>Refresh List</md-tooltip>
				</md-button>

				<md-button class="md-icon-button" aria-label="Add Definition" ng-click="add($event)">
					<ng-md-icon icon="add"></ng-md-icon>
					<md-tooltip>Add Definition</md-tooltip>
				</md-button>

				<md-button class="md-icon-button md-secondary" aria-label="Delete Definition" ng-click="delete()">
					<ng-md-icon icon="delete"></ng-md-icon>
					<md-tooltip>Delete Definitions</md-tooltip>
				</md-button>

				<md-input-container ng-class="{'flex': showSearch}" ng-show="showSearch">
					<label>&nbsp;</label>
					<input autofocus ng-model="search.title" placeholder="Search">
				</md-input-container>

				<md-button class="md-icon-button" aria-label="Search Definition" ng-click="toggleSearchBar()">
					<ng-md-icon icon="{{searchIcon}}" options='{"rotation": "none", "duration": 500}'></ng-md-icon>
					<md-tooltip ng-if="!showSearch">Search</md-tooltip>
					<md-tooltip ng-if="showSearch">Clear Search</md-tooltip>
				</md-button>
			</div>

			<md-list layout="column">
				<md-list-item ng-repeat="definition in list | filter: search: strict | orderBy:'title' track by $index" ng-click="navigateTo('definition.tab', {id: definition.id})">
					<md-checkbox class="md-primary" ng-model="definition.selected"></md-checkbox>

					<p>{{definition.title}}</p>

					<p class="list-item-description">{{definition.description}}</p>

					<md-divider ng-if="!$last"></md-divider>
				</md-list-item>
			</md-list>
		</md-card>
	</div>

	<ui-view flex ></ui-view>
</div>
