<md-dialog aria-label="Add Parameter">

	<md-dialog-content class="md-dialog-content">
		<h4 class="modal-title">Add new Parameter</h4>

		<form ng-submit="submit()" novalidate>
			<formly-form model="parameter" fields="formFields" form="form">
			</formly-form>
		</form>
	</md-dialog-content>

	<div class="md-actions" layout="row">
		<md-checkbox class="float-left md-primary" ng-model="createAnother" aria-label="Create Another Parameter">
			Create Another
		</md-checkbox>
		<md-button class="md-primary" type="submit" ng-click="add(parameter)" ng-disabled="form.$invalid">Add
		</md-button>
		<md-button ng-click="cancel()">Cancel</md-button>
	</div>

</md-dialog>
