.notification-success {
	background-color: white;
	color: green;
}

.notification-error {
	background-color: white;
	color: orangered;
}

.notification-info {
	background-color: white;
	color: orange;
}

.md-center {
	margin: 0 auto;
}
